@model courseProject.Models.Test;

@{
    ViewData["Title"] = "Уникальный тест";
}

<div class="test-container">

    <div class="close-test">
        <a class="btn-close" asp-controller="Home" asp-action="Index">&times;</a>
    </div>

    <div class="container pt-5">
        <div id="test-id" data-id="@Model.Id"></div>
        <div class="test-param">
            <div class="icon_test">
                <img src="@Model.Icon" alt="Иконка">
            </div>
            <h1>@Model.Name</h1>

            <form asp-controller="Test" asp-action="Question" asp-route-testId="@Model.Id" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-dark" id="btn-start">Начать тест</button>
            </form>
            <div class="description">
                <p>@Model.Description</p>
            </div>
            <p class="autors">@Model.Autors</p>
        </div>
    </div>
</div>