@model courseProject.ViewModels.QuestionViewModel;

@{
    ViewData["Title"] = "Вопрос";
}

<div class="question-container">

    <div class="close-test">
        <a asp-controller="Home" asp-action="Index" class="btn-close">&times;</a>
    </div>

    <div class="num-quest-wrap">
        <span class="num-quest">@Model.Question.Number/@Model.Test.NumberOfQuestions</span>
    </div>

    <div class="container pt-5">
        <h1>@Model.Question.Number. @Model.Question.Name</h1>

        @if (Model.Question.Number != Model.Test.NumberOfQuestions)
        {
            <form asp-controller="Test" asp-action="Question" asp-route-id="@Model.Test.Id" method="post" class="answers">
                @foreach (var answer in Model.Question.Answers)
                {
                    <div class="answer">
                        @*TODO: использовать tagHelpers*@
                        <input type="radio" name="test_score" value="@answer.Score" id="@answer.Id">
                        <label for="@answer.Id">@answer.Name</label>
                    </div>

                }

                @*TODO: использовать tagHelpers*@
                <input type="hidden" name="testId" value="@Model.Test.Id" />
                <input type="hidden" name="number" value="@(Model.Question.Number + 1)" />

                <button type="submit" class="btn btn-secondary">Далее</button>
            </form>
        }
        else
        {
            <form asp-controller="Test" asp-action="Result" asp-route-id="@Model.Test.Id" method="post" class="answers">
                @foreach (var answer in Model.Question.Answers)
                {
                    <div class="answer">
                        @*TODO: использовать tagHelpers*@
                        <input type="radio" name="test_score" value="@answer.Score" id="@answer.Id">
                        <label for="@answer.Id">@answer.Name</label>
                    </div>
                }

                @*TODO: использовать tagHelpers*@
                <input type="hidden" name="testId" value="@Model.Test.Id" />

                <button type="submit" class="btn btn-secondary">Завершить</button>
            </form>
        }
    </div>
</div>