@model courseProject.ViewModels.CategoryViewModel;

@{
    ViewData["Title"] = "Категория";
  
    string userName = User.Identity.Name;
}

<div class="category-container">
    <!-- Основная часть -->
    <div class="container pt-5">
        <!-- Заголовки -->
        <div class="category-param mb-5">

            <div class="icon_category">
                <img src="@Model.Category.Icon" alt="Иконка">
            </div>
            <h1>@Model.Category.Name</h1>
        </div>


        <!-- Фильтрация и сортировка -->
        <div class="config d-flex justify-content-between mb-5">
            <!-- Контейнер -->
            <div class="d-flex">
                <div class="dropdown mr-2">
                    <button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Категория
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <a class="dropdown-item" asp-controller="Home" asp-action="Category"
                               asp-route-categoryId="@category.Id">@category.Name</a>
                        }
                    </div>
                </div>


            </div>
        </div>
        <!-- Карточки -->
        <div class="d-flex flex-wrap justify-content-between" id="cards">

            @if (userName != null)
            {
                foreach (Test test in Model.Tests)
                {
                    <a class="test" asp-controller="Test" asp-action="Index" asp-route-testId="@test.Id">
                        <div class="icon">
                            <img src="@test.Icon" alt="Иконка">
                        </div>
                        <p class="name">@test.Name</p>

                        @if (test.Favorite)
                        {
                            <div class="favorite isFavorite" data-test-id="@test.Id">
                                <i class="fa fa-heart"></i>
                            </div>
                        }
                        else
                        {
                            <div class="favorite" data-test-id="@test.Id">
                                <i class="fa fa-heart"></i>
                            </div>
                        }
                    </a>
                }
            }
            else
            {
                foreach (Test test in Model.Tests)
                {
                    <a class="test" asp-controller="Test" asp-action="Index" asp-route-testId="@test.Id">
                        <div class="icon">
                            <img src="@test.Icon" alt="Иконка">
                        </div>
                        <p class="name">@test.Name</p>
                    </a>
                }
            }


        </div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <form class="f-inline" asp-controller="Home" asp-action="Category" asp-route-categoryId="@Model.Category.Id">
                <input type="hidden" name="numPage" value="@(Model.PageViewModel.PageNumber - 1)" />
                <button type="submit" class="btn btn-outline-primary">Назад</button>
            </form>
        }

        @if (Model.PageViewModel.HasNextPage)
        {
            <form class="f-inline" asp-controller="Home" asp-action="Category" asp-route-categoryId="@Model.Category.Id">
                <input type="hidden" name="numPage" value="@(Model.PageViewModel.PageNumber + 1)" />
                <button type="submit" class="btn btn-outline-primary">Вперед</button>
            </form>
        }
    </div>
</div> 